{% block nav %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarMain" class="navbar-menu">
        <div class="navbar-start">
            <a href="{% url 'app:index' %}" class="navbar-item">Home</a>
            <a href="{% url 'app:index' %" class="navbar-item">Item</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <div class="control">
                        {% if user.is_authenticated %}
                        <a href="{% url 'app:logout' %}" class="button is-primary">Logout</a>
                        {% else %}
                        <a href="{% url 'app:register' %}" class="button is-primary">Register</a>
                        <a href="{% url 'app:login' %}" class="button is-light">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endblock nav %}

{% block script %}
{% endblock script %}