{% extends 'base.html' %}
{%load crispy_forms_tags%}

{% block nav %}
{% endblock nav %}

{% block content %}
<div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="button is-info">Submit</button>
                    </form>
                    Already Have An Account? <a href="{% url 'app:login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}